#bodyContent {
  font-size: .875em;
}
form .mw-ui-field {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  min-height: 0;
}
form .mw-ui-input {
  border-radius: 2px;
}
form .mw-ui-input:focus {
  border-color: #898989;
}
form .mw-ui-field .mw-ui-input {
  margin: 0;
}
form .mw-ui-field-icon {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: none;
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 100%;
  text-align: center;
  border-radius: 0 2px 2px 0;
  border: 1px solid #898989;
  border-width: 1px 1px 1px 0;
  pointer-events: none;
}
form .mw-ui-field-icon:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5em;
  color: #fff;
  width: 1.33em;
  line-height: 1em;
  font-size: 1.5em;
  text-align: center;
  pointer-events: none;
}
form .mw-ui-input:valid :after {
  content: "cool";
}
form .mw-ui-input:valid + .mw-ui-validation-icon {
  display: block;
  background: rgba(0, 176, 138, 0.85);
}
form .mw-ui-input:valid + .mw-ui-validation-icon:before {
  content: '✓';
}
form .mw-ui-input:invalid + .mw-ui-validation-icon {
  display: block;
  background: rgba(211, 19, 0, 0.85);
}
form .mw-ui-input:invalid + .mw-ui-validation-icon:before {
  margin-top: -0.54em;
  content: '⨉';
}
.flow-newtopic-form,
.flow-topics-bar {
  padding-top: 1em;
}
.flow-board-header,
.flow-board {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-right: 200px;
  width: 100%;
  max-width: 915px;
  font-size: 1em;
  line-height: 1.4em;
}
.flow-board-navigation {
  clear: both;
  max-width: 715px;
  margin-left: 200px;
  padding-top: .5em;
  position: relative;
  left: -200px;
  font-size: 1.15em;
}
.flow-board-navigation div {
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
}
.flow-board-navigation a {
  display: inline-block;
}
.flow-board-navigation a:link,
.flow-board-navigation a:visited {
  display: inline-block;
  padding: 0.25em .75em;
  color: #777777;
}
.flow-board-navigation a:hover,
.flow-board-navigation a:focus {
  color: #000;
  text-decoration: none;
}
.flow-board-navigation a.flow-board-navigator-right {
  float: right;
}
.flow-board-navigation a.flow-board-navigator-cap {
  border-right: 1px solid #cccccc;
}
.flow-board-navigation a.flow-board-navigator-active {
  font-weight: bold;
}
.flow-board-navigation a.flow-board-navigator-first {
  padding-left: 0;
}
.flow-board-navigation a.flow-board-navigator-last {
  position: absolute;
  bottom: 0;
  right: -2.5em;
  width: 1em;
  border-bottom: 1px solid #cccccc;
}
ul.flow-topic-navigation {
  float: right;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0 -200px 0 0;
  width: 185px;
  border-radius: 3px;
  font-size: .875em;
  line-height: 1.1em;
}
ul.flow-topic-navigation h5 {
  color: #252525;
}
ul.flow-topic-navigation li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.flow-topic-navigation li.flow-topic-navigator-wrap {
  margin: 0.25em 0;
  border: 1px solid #cccccc;
}
ul.flow-topic-navigation-fixed {
  position: fixed;
  top: 0;
  margin-right: 0;
}
.flow-topic-navigator {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  z-index: 2;
  padding: 0.5em 1em;
  background: #eeeeee;
  font-style: italic;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  border-left: .5em solid transparent;
}
.flow-topic-navigator:link,
.flow-topic-navigator:visited {
  color: #777777;
}
.flow-topic-navigator-read {
  background: #cccccc;
}
.flow-topic-navigator-active {
  border-left-color: darkred;
}
.flow-topic-navigator-meta {
  display: block;
  font-style: normal;
  font-size: 0.85em;
}
.flow-topic-navigation-footer {
  color: #777777;
  font-style: italic;
  text-align: center;
}
.flow-newtopic-form .mw-ui-input,
.flow-newtopic-form textarea {
  margin-top: 0;
  margin-bottom: 0;
}
.flow-newtopic-form textarea {
  border-top-width: 0;
}
.flow-topic {
  padding: 1.5em 0;
  border-bottom: 1px dotted #cccccc;
}
.flow-topic:last-of-type {
  border-bottom: none;
}
.flow-topic .flow-author {
  color: #252525;
}
.flow-topic-titlebar {
  position: relative;
  padding: 1em 1.5em;
  background: #eeeeee;
  border-radius: 3px;
}
h2.flow-topic-title {
  padding: 0;
  border-bottom: none;
  margin-bottom: 0.25em;
}
.flow-topic-meta {
  color: #898989;
}
.flow-menu {
  clear: both;
}
.flow-post {
  position: relative;
  margin: 1em 0 0 1.5em;
  padding: 0;
  color: #252525;
}
.flow-post .flow-post {
  margin-left: 0;
  padding-left: 1em;
  border-left: 1px dotted #dddddd;
}
.flow-post-meta {
  color: #898989;
}
.flow-post-meta > * {
  margin-right: .25em;
}
@media (max-width: 700px) and (min-device-width: 700px), (max-device-width: 700px) {
  .flow-board-navigation {
    position: static;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    min-width: 14em;
  }
  .flow-board-navigation a:link,
  .flow-board-navigation a:visited {
    padding: 0.2em 0.3em;
  }
  .flow-board-navigation a.flow-board-navigator-last {
    float: right;
    position: static;
  }
  ul.flow-topic-navigation {
    display: none;
  }
  .flow-board-header,
  .flow-board {
    padding-right: 0;
    max-width: 100%;
    font-size: .875em;
    line-height: 1.2em;
  }
  .flow-topic-titlebar {
    padding: .5em .75em;
  }
  .flow-topic-meta {
    font-size: .875em;
  }
  .flow-post {
    margin: .5em 0 0 .75em;
    padding: 0 .5em 0 0;
  }
  .flow-post .flow-author {
    font-size: .875em;
    line-height: 1.2em;
  }
  .flow-post .flow-post {
    padding: 0 .5em;
    border-left-width: 1px;
  }
  .flow-post-meta {
    font-size: .875em;
  }
  /* not important stuff -- only here for mediawiki on mobile in test version */
  #mw-page-base,
  #mw-head-base {
    display: none;
  }
  div#content {
    margin-left: 0;
  }
}
@media (min-width: 700px) and (max-width: 980px) and (min-device-width: 700px) {
  .flow-board-navigation {
    margin-left: 170px;
    left: -170px;
    font-size: 1em;
  }
  ul.flow-topic-navigation {
    margin: 0 -170px 0 0;
    width: 160px;
  }
  .flow-board-header,
  .flow-board {
    padding-right: 170px;
    font-size: .875em;
    line-height: 1.2em;
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.flow-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}
.flow-menu ul {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
}
.flow-menu li {
  display: inline;
  margin: 0;
  list-style: none;
}
.flow-menu .flow-menu-js-drop {
  display: none;
}
.client-js div > .flow-menu {
  top: 0;
  bottom: auto;
  display: block;
  border: none;
}
.client-js div > .flow-menu:hover,
.client-js div > .flow-menu.focus {
  z-index: 2;
}
.client-js div > .flow-menu:hover ul,
.client-js div > .flow-menu.focus ul {
  display: block;
}
.client-js div > .flow-menu:hover .flow-menu-js-drop a,
.client-js div > .flow-menu.focus .flow-menu-js-drop a {
  border-color: transparent;
  background: transparent;
  background: rgba(0, 0, 0, 0.05);
}
.client-js div > .flow-menu:hover .flow-menu-js-drop a .caret,
.client-js div > .flow-menu.focus .flow-menu-js-drop a .caret {
  border-top-color: #000;
}
.client-js div > .flow-menu ul {
  display: none;
  font-size: 1em;
  box-shadow: 0 2px 3px #dddddd;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
}
.client-js div > .flow-menu li {
  display: block;
}
.client-js div > .flow-menu .flow-menu-js-drop {
  display: block;
  text-align: right;
  text-indent: 0;
  cursor: pointer;
}
.client-js div > .flow-menu .flow-menu-js-drop a {
  display: inline-block;
  padding: 0 .5em;
  background: #fff;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #cccccc;
  border-radius: 3px;
  border-width: 0;
}
.client-js div > .flow-menu .flow-menu-js-drop .caret {
  border-top-color: #898989;
}
.client-js div.flow-post > .flow-menu ul {
  background: #eee;
  background: rgba(238, 238, 238, 0.75);
  border-radius: 3px;
}
.client-js div.flow-post > .flow-menu .flow-menu-js-drop a {
  border-color: #dddddd;
  border-width: 1px;
}
.client-js div.flow-post > .flow-menu .flow-menu-js-drop .caret {
  border-top-color: #cccccc;
}
div.flow-editable-interactive {
  border: 1px solid transparent;
  cursor: text;
  position: relative;
}
div.flow-editable-interactive:hover {
  width: 100%;
  border-color: #cccccc;
  padding: 0 0 0 .6em;
  left: -0.6em;
}
div.flow-editable-interactive a,
div.flow-editable-interactive button {
  display: none;
}
.flow-timestamp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  text-align: left;
}
.flow-timestamp-ago,
.flow-timestamp-now {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  position: relative;
  line-height: 1em;
}
.flow-timestamp-ago {
  margin-top: -1em;
  line-height: 1em;
}
.client-nojs .flow-timestamp .flow-timestamp-now {
  display: none;
}
.client-nojs .flow-timestamp .flow-timestamp-ago {
  display: block;
}
.client-js .flow-timestamp .flow-timestamp-now {
  display: none;
}
.client-js .flow-timestamp .flow-timestamp-ago {
  display: block;
}
.client-js .flow-timestamp:hover .flow-timestamp-now {
  display: block;
}
.client-js .flow-timestamp:hover .flow-timestamp-ago {
  display: none;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  content: "";
}
.glyphicon {
  position: relative;
  top: 2px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-briefcase:before {
  content: "\1f4bc";
}
.glyphicon-calendar:before {
  content: "\1f4c5";
}
.glyphicon-pushpin:before {
  content: "\1f4cc";
}
.glyphicon-paperclip:before {
  content: "\1f4ce";
}
.glyphicon-camera:before {
  content: "\1f4f7";
}
.glyphicon-lock:before {
  content: "\1f512";
}
.glyphicon-bell:before {
  content: "\1f514";
}
.glyphicon-bookmark:before {
  content: "\1f516";
}
.glyphicon-fire:before {
  content: "\1f525";
}
.glyphicon-bowrench:before {
  content: "\1f527";
}
@media (max-width: 700px) and (min-device-width: 700px), (max-device-width: 700px) {
  ul.flow-menu {
    position: static;
  }
}
.flow-board .mw-ui-input,
.flow-board textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: .3em .3em .3em .6em;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border linear 0.2s box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s box-shadow linear 0.2s;
  -o-transition: border linear 0.2s box-shadow linear 0.2s;
  transition: border linear 0.2s box-shadow linear 0.2s;
}
.flow-board .mw-ui-input::-webkit-input-placeholder,
.flow-board textarea::-webkit-input-placeholder {
  font-style: italic;
  font-weight: normal;
}
.flow-board .mw-ui-input::-moz-placeholder,
.flow-board textarea::-moz-placeholder {
  font-style: italic;
  font-weight: normal;
}
.flow-board .mw-ui-input:-moz-placeholder,
.flow-board textarea:-moz-placeholder {
  font-style: italic;
  font-weight: normal;
}
.flow-board .mw-ui-input:-ms-input-placeholder,
.flow-board textarea:-ms-input-placeholder {
  font-style: italic;
  font-weight: normal;
}
.flow-board textarea {
  min-height: 8em;
}
.flow-board .mw-ui-input:focus,
.flow-board textarea:focus {
  box-shadow: inset .45em 0 0 #5088f7;
  -moz-box-shadow: inset .45em 0 0 #5088f7;
  -webkit-box-shadow: inset .45em 0 0 #5088f7;
}
.flow-newtopic-form input.mw-ui-input {
  font-weight: bold;
}
.flow-reply-form {
  margin-top: 1em;
  margin-left: .9em;
}
.flow-form-actions {
  position: relative;
  margin-top: .25em;
}
.flow-form-actions .mw-ui-button {
  float: right;
  margin-left: .25em;
}
.flow-terms-of-use {
  display: table-cell;
  height: 3.6em;
  vertical-align: middle;
  color: #777777;
  font-size: .65em;
  line-height: 1em;
}
@media (max-width: 600px) and (min-device-width: 700px), (max-device-width: 700px) {
  .flow-form-actions {
    font-size: 0.75em;
  }
  .flow-form-actions .mw-ui-button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: 0;
    width: 100%;
    float: none;
  }
  .flow-form-actions .flow-terms-of-use {
    display: block;
    height: auto;
    font-size: 7px;
    text-align: center;
  }
}
